@font-face {
    font-family: LatoBla;
    src: url("../resources/Lato-Bla.ttf");
}
  
@font-face {
    font-family: Trebuchet;
    src: url("../resources/trebuchet.otf");
}

html {
    background-image: url('../resources/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 105vw 100vh;
    background-position-x: -2.5vw;
    font-family: Lato, LatoBla, Trebuchet;
}

body {
    color: white;
    background-color: rgba(33, 37, 56, 1);
    width: 95vw;
    height: 95vh;
    position: absolute;
    left: 2vw;
    top: .8vh;
    padding: 0;
    padding-bottom: 1em;
}

h1 {
    width: 95vw;
    text-align: center;
    background-color: rgb(150, 0, 0);
}

h3 {
    text-align: center;
    line-height: 1.5em;
}

p {
    text-align: center;
    padding: 0;
    margin: 0;
}

img {
    max-width: 90vw;
    padding: 0;
    margin: 0;
}
